NEO4J_URI=neo4j+s://7f993c2a.databases.neo4j.io
NEO4J_USERNAME=7f993c2a
NEO4J_PASSWORD=N2yKP6aNUcB80-WxDvHRp2s1b10ttwXtaH2GbwCoXwk
NEO4J_DATABASE=7f993c2a
AURA_INSTANCEID=7f993c2a
AURA_INSTANCENAME=Instance01
VITE_API_BASE=http://localhost:4000
